<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>03-05</title>
  </head>
  <body>
    <div id="app">
      <h2>취미생활</h2>
      <div>
        <input type="checkbox" id="A" value="A" v-model="hobby" />
        <label for="A">운동</label>
        <input type="checkbox" id="B" value="B" v-model="hobby" />
        <label for="B">독서</label>
        <input type="checkbox" id="C" value="C" v-model="hobby" />
        <label for="C">음악</label>
        <input type="checkbox" id="D" value="D" v-model="hobby" />
        <label for="D">댄스</label>
        <input type="checkbox" id="E" value="E" v-model="hobby" />
        <label for="E">역사</label>
      </div>
      <br />
      <h2>상품 분류 선택</h2>
      <select id="" v-model="category">
        <option value="">----상품 분류를 선택하세요----</option>
        <option value="category1">레저</option>
        <option value="category2">가전</option>
        <option value="category3">음식</option>
        <option value="category4">도서</option>
        <option value="category5">주방</option>
      </select>
      <hr />
      <div>
        선택한 취미: {{hobby.join(',')}} <br />
        선택한 상품 분류: {{category}}
      </div>
    </div>
    <script type="text/javascript" src="https://unpkg.com/vue"></script>
    <script type="text/javascript">
      var vm = Vue.createApp({
        name: 'App',
        data() {
          return {
            hobby: [],
            category: '',
          };
        },
      }).mount('#app');
    </script>
  </body>
</html>
